In [1]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

# Load the Data

In [2]:
df_a = pd.read_csv("/content/drive/MyDrive/Doral_Energy/data/data_prep/consumer_a.csv")
df_b = pd.read_csv("/content/drive/MyDrive/Doral_Energy/data/data_prep/consumer_b.csv")
df_c = pd.read_csv("/content/drive/MyDrive/Doral_Energy/data/data_prep/consumer_c.csv")
df_d = pd.read_csv("/content/drive/MyDrive/Doral_Energy/data/data_prep/consumer_d.csv")

# add a new column called 'consumer_id' with value of (a=1, b=2, c=3, d=4) for the data frames

In [3]:
df_a.insert(0, 'consumer_id', 1)
df_a

       consumer_id        date      hour  kWh_amount
0                1  01/12/2021  00:00:00      1287.0
1                1  01/12/2021  00:30:00      1217.0
2                1  01/12/2021  01:00:00      1216.0
3                1  01/12/2021  01:30:00      1212.0
4                1  01/12/2021  02:00:00      1206.0
...            ...         ...       ...         ...
17515            1  30/11/2022  21:30:00      1578.0
17516            1  30/11/2022  22:00:00      1590.0
17517            1  30/11/2022  22:30:00      1586.0
17518            1  30/11/2022  23:00:00      1583.0
17519            1  30/11/2022  23:30:00      1525.0

[17520 rows x 4 columns]

In [4]:
df_b.insert(0, 'consumer_id', 2)
df_b

       consumer_id        date      hour  kWh_amount
0                2  01/01/2021  00:00:00      309.20
1                2  01/01/2021  00:30:00      283.26
2                2  01/01/2021  01:00:00      280.26
3                2  01/01/2021  01:30:00      263.42
4                2  01/01/2021  02:00:00      247.60
...            ...         ...       ...         ...
17513            2  31/12/2021  21:30:00      431.64
17514            2  31/12/2021  22:00:00      418.26
17515            2  31/12/2021  22:30:00      396.44
17516            2  31/12/2021  23:00:00      374.86
17517            2  31/12/2021  23:30:00      346.90

[17518 rows x 4 columns]

In [5]:
df_c.insert(0, 'consumer_id', 3)
df_c

       consumer_id        date   hour  kWh_amount
0                3  01/01/2021  00:00      128.70
1                3  01/01/2021  00:30      129.03
2                3  01/01/2021  01:00      122.06
3                3  01/01/2021  01:30      119.22
4                3  01/01/2021  02:00      117.30
...            ...         ...    ...         ...
15355            3  20/11/2021  21:30      175.56
15356            3  20/11/2021  22:00      169.32
15357            3  20/11/2021  22:30      163.36
15358            3  20/11/2021  23:00      159.67
15359            3  20/11/2021  23:30      154.35

[15360 rows x 4 columns]

In [6]:
df_d.insert(0, 'consumer_id', 4)
df_d

       consumer_id        date      hour  kWh_amount
0                4  01/01/2022  00:00:00       593.0
1                4  01/01/2022  00:30:00       593.0
2                4  01/01/2022  01:00:00       542.0
3                4  01/01/2022  01:30:00       546.0
4                4  01/01/2022  02:00:00       516.0
...            ...         ...       ...         ...
17515            4  31/12/2021  21:30:00       622.0
17516            4  31/12/2021  22:00:00       617.0
17517            4  31/12/2021  22:30:00       606.0
17518            4  31/12/2021  23:00:00       601.0
17519            4  31/12/2021  23:30:00       603.0

[17520 rows x 4 columns]

# Merge 4 Dataframes to 1 Excel file

In [7]:
# concatenate the data frames vertically
merged_df = pd.concat([df_a, df_b, df_c, df_d], ignore_index=True)
merged_df

       consumer_id        date      hour  kWh_amount
0                1  01/12/2021  00:00:00      1287.0
1                1  01/12/2021  00:30:00      1217.0
2                1  01/12/2021  01:00:00      1216.0
3                1  01/12/2021  01:30:00      1212.0
4                1  01/12/2021  02:00:00      1206.0
...            ...         ...       ...         ...
67913            4  31/12/2021  21:30:00       622.0
67914            4  31/12/2021  22:00:00       617.0
67915            4  31/12/2021  22:30:00       606.0
67916            4  31/12/2021  23:00:00       601.0
67917            4  31/12/2021  23:30:00       603.0

[67918 rows x 4 columns]

In [8]:
# save the merged data as a CSV file and then read it easily to the database
merged_df.to_csv('consumers.csv', index=False)